/* login.html */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin: 0;
  min-width: 335px;
  width: 100%;
}

.sign-in-header {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #953775;
  margin-bottom: 30px;
  border-bottom: solid 1px #ffffff;
}

.sign-in-header h1 {
  color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 5px 0px 10px 0px;
}

.form-group {
  grid-column: span 3;
  width: 100%;
  margin: auto;
}

.form-group label,
input {
  text-align: left;
  width: 95%;
  height: 45px;
  border-radius: 10px;
}

.form-group input {
  padding-left: 10px;
}

button {
  width: 110px;
  height: 45px;
  border-radius: 10px;
  background-color: #574075;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  justify-self: end;
}

/* Sign In */

.register-link {
  display: inline-block;
  text-align: left;
  margin: 0;
  grid-area: 3 / 1;
}

.register-link p,
a {
  margin: 0;
  align-items: left;
  text-decoration: none;
  color: white;
}

span {
  text-decoration: underline;
}
