.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.post-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
}

.post-header h1 {
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #953775;
  border-bottom: solid 1px #ffffff;
  margin: 0 0 30px 0;
}

.post-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 90%;
  gap: 10px;
  margin-bottom: 30px;
}

.form-group input,
.form-group textarea {
  width: 95%;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

#blog-title input,
#your-name input,
#body textarea,
#post-image-url input {
  margin-top: 10px;
}

#body textarea {
  height: 200px;
}

#title,
#name,
#body,
#post-image-url {
  display: flex;
  flex-direction: column;
}

#edit-button {
  display: flex;
  justify-content: flex-end;
}

.edit-button {
  width: 150px;
  height: 45px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: #574075;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
