/* carousel */

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 600px;
}

.slides {
  list-style: none;
  display: none;
  gap: 20px;
  align-items: center;
  text-align: center;
  max-width: 1000px;
  max-height: 500px;
  padding: 20px;
  border-radius: 10px;
}

.slides[data-active] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.slides img {
  margin: 0;
  max-width: 150px;
  width: 150px;
  height: auto;
  border-radius: 10px;
}

slides h1 {
  font-size: 32px;
  margin: auto;
}

.slides .body {
  font-size: 20px;
  padding: 10px 0;
  margin: auto;
  max-width: 900px;
}

.slides p {
  font-size: 12px;
  margin: auto;
  padding: 0;
}

/* carousel buttons */

.prev,
.next {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

/* blog feed */

.pixl-feed-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background-image: linear-gradient(
    to right,
    #000000 15%,
    #574075 50%,
    #000000 85%
  );
}

.blog-feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  max-width: 89%;
  margin: 20px auto 30px auto;
  gap: 15px;
}

.blog-post {
  display: flex;
  flex-direction: row;
  gap: 15px;
  border-radius: 10px;
  margin: 0;
  padding: 10px;
}

.post-info {
  display: flex;
  gap: 10px;
  text-align: center;
  align-items: center;
  margin: 0;
}

.post-info h3 {
  margin: 0;
  font-size: 18px;
  text-align: left;
}

.post-info p {
  margin: 0;
  font-size: 12px;
  text-align: right;
}

.thumbnail,
.thumbnail img {
  grid-area: 1 / 1;
  max-width: 60px;
  margin: 0;
  padding: 5px;
}

@media (max-width: 1260px) {
  /* blog feed */

  .blog-feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 959px) {
  /* carousel */

  .slides {
    padding: 10px;
    max-width: 300px;
  }

  .slides h1 {
    font-size: 32px;
    margin: auto;
  }

  .slides img {
    max-width: 100px;
  }

  .slides .body {
    width: 90%;
    overflow: hidden;
  }

  .slides p {
    font-size: 10px;
  }

  /* blog feed */

  .blog-feed {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 70%;
    margin: 10px auto 30px auto;
    justify-content: center;
  }

  .blog-post {
    display: flex;
    justify-content: flex-start;
  }

  .post-info {
    display: flex;
    gap: 10px;
    text-align: left;
    align-items: left;
    margin: 0;
  }

  .post-info h3 {
    margin: 0;
    font-size: 18px;
    text-align: left;
  }

  .post-info p {
    margin: 0;
    font-size: 12px;
    text-align: left;
  }

  .thumbnail,
  .thumbnail img {
    max-width: 60px;
    justify-content: center;
    align-items: left;
    margin: 0;
    padding: 5px;
  }
}
