/* carousel*/

.carousel {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  margin: 30px auto;
  width: 90%;
}

.slides {
  list-style: none;
  display: none;
  gap: 5px;
  justify-content: center;
  text-align: center;
  min-width: 900px;
  max-height: 600px;
  padding: 20px;
  border-radius: 10px;
}

.slides[data-active] {
  display: block;
  width: 650px;
  height: 300px;
}

.slides img {
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 150px;
  width: 85%;
  padding: 0;
  border-radius: 10px;
}

.slides h1 {
  justify-items: center;
  font-size: 32px;
  margin: auto;
  width: 85%;
}

.slides .body {
  justify-content: right;
  font-size: 20px;
  padding: 10px;
  margin: auto;
  width: 50%;
}

.slides p {
  justify-content: right;
  font-size: 12px;
  margin: auto;
  padding: 10px;
  width: 50%;
}
/* carousel buttons*/

.prev,
.next {
  background-color: white;
  color: black;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.pixl-feed-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  background-image: linear-gradient(
    to right,
    #000000 15%,
    #574075 50%,
    #000000 85%
  );
  margin: 10px 0 40px 0;
}
/* blog feed */

.blog-feed {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0;
}

.blog-post {
  display: grid;
  height: 100px;
  grid-template-columns: 0.7fr 3fr;
  grid-template-rows: 1fr;
  width: 98%;
  padding: 5px;
  gap: 0;
  margin: 0;
}

.post-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  margin: auto 0;
}

.post-info h3 {
  margin: 0;
  padding: 0 10px 0 10px;
  font-size: 18px;
}

.post-info p {
  margin: 0;
  padding: 5px 10px 0 10px;
  font-size: 12px;
}

.thumbnail,
.thumbnail img {
  grid-area: 1 / 1;
  max-width: 60px;
  margin: auto;
  padding: 5px;
}
