.edit-header {
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
  height: 50px;
  width: 100%;
  background-color: #953775;
  margin-bottom: 30px;
  border-bottom: solid 1px #ffffff;
}

.edit-header h1 {
  color: #ffffff;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
}

.form-group label,
input {
  text-align: left;
  width: 100%;
  height: 45px;
  border-radius: 10px;
}

form,
.editForm {
  display: grid;
  gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#deleteButton {
  grid-area: 1 / 2 / 1 / 4;
  width: 100%;
  margin: auto;
}

#blogTitle {
  grid-area: 2 / 2 / 2 / 4;
}

#yourName {
  grid-area: 3 / 2 / 3 / 4;
}

#blogContent {
  grid-area: 4 / 2 / 4 / 4;
}

#post-image-url {
  grid-area: 5 / 2 / 5 / 4;
}

#button {
  grid-area: 6 / 2 / 6 / 4;
}
